<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>{{ pizza.name }}</mat-card-title>
    <mat-card-subtitle
      >Um prazer indescritível a cada mordida</mat-card-subtitle
    >
    <img mat-card-md-image src="{{ imageUrl }}" />
  </mat-card-title-group>
  <mat-card-content>
    Aqui a pizza além de ser gostosa, nutritiva e magnífica, é NO PREÇO.
    Literalmente a mais barata que já existiu, pode acreditar! Venha já e peça a
    sua pizza no nosso restaurante.
  </mat-card-content>
  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="editPizza(ingredientsList, pizza)"
    >
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
    <button mat-raised-button color="warn" (click)="deletePizza()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </div>
</mat-card>
