html,
body {
  height: 100vh;
}
.box {
  display: grid;
  background: url("ingredients.jpg") no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  padding: 100px;
}

.form {
  display: flex;
  justify-content: center;
}

.addButton {
  position: fixed;
  z-index: 10000;
  top: 15px;
  right: 25px;
}

.flex-container {
  max-width: 75%;
  max-height: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto;
  flex-wrap: wrap;
  background-color: rgba(207, 199, 191, 0.3);
  padding: 15px;
  border-radius: 15px;
}

.ingredient-card {
  max-width: 300px;
  margin: 10px 10px;
  padding: 5px;
}
