#myVideo {
  height: 100%;
  overflow: hidden;
}

.position {
  position: absolute;
  top: 10%;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.addButton {
  position: fixed;
  z-index: 10000;
  top: 15px;
  right: 25px;
}
