body,
html {
  display: flex;
  margin: 0;
}

.box {
  display: grid;
  background: url("pizzaoven.jpg") no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}

.material-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  max-height: 200px;
  margin: auto;
  margin-top: 12%;
  margin-bottom: 50%;
  backdrop-filter: blur(2px);
  background-color: rgba(245, 245, 245, 0.2);
  opacity: 1;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
