<h1 mat-dialog-title>Add Product Form</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="fill">
      <mat-label>Pizza name</mat-label>
      <input formControlName="name" matInput placeholder="Name" />
    </mat-form-field>
    <br />
    <br />
    <label style="margin-top: 10px">Componentes da pizza</label>
    <mat-form-field appearance="fill">
      <mat-label>Imagem</mat-label>
      <textarea
        formControlName="imageUrl"
        matInput
        placeholder="Favor colar URL da imagem"
        rows="4"
        cols="50"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingredients</mat-label>
      <mat-select formControlName="ingredients" multiple>
        <mat-option
          *ngFor="let ingredient of ingredientsNames"
          [value]="ingredient"
          >{{ ingredient }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <!-- </div> -->
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    style="margin-left: 8px"
    color="primary"
    (click)="actionFunction()"
  >
    {{ actionBtn }}
  </button>
</div>
